<!-- Page Content -->
<div>
	<div class="container-fluid">
		<!-- Title -->
		<div class="row">
			<div class="col-lg-12">
				<button class="btn" (click)="showSidebarClicked($event)"><span class="glyphicon glyphicon-list"></span></button>
				<span id="stepTitle" [tooltip]="stepTitleTooltip" tooltipPlacement="bottom">Step 2: Two Sum</span>
				<!-- Single button with keyboard nav -->
				<div id="profile" class="btn-group pull-right" dropdown keyboardNav="true">
					<button id="simple-btn-keyboard-nav" type="button" class="btn btn-info" dropdownToggle>
						Easy <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
						<li class="disabled" role="menuitem"><a class="dropdown-item" href="#">Medium <span class="glyphicon glyphicon-lock pull-right"></span></a></li>
						<li class="disabled" role="menuitem"><a class="dropdown-item" href="#">Hard <span class="glyphicon glyphicon-lock pull-right"></span></a></li>
					</ul>
				</div>
				<hr>
			</div>
		</div>

		<!-- Snippet Container -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-success">
					<div class="panel-body" >
						<ul class="list-group" [dragula]='"first-bag"' [dragulaModel]='snippets'>
							<li *ngFor="let snippet of snippets; let i = index"
							    class="snippet list-group-item"
							    >{{snippet.name}}</li>
						</ul>
					</div>
				</div>
				<hr>
			</div>
		</div>

		<!-- Code Container -->
		<div class="row">
			<div class="col-lg-6 col-md-6" >
				<div class="panel panel-success">
					<div class="panel-heading">
						function twoSum(numbers, target)
					</div>

					<div class="panel-body">
						<ul class="list-group"  [dragula]='"first-bag"' [dragulaModel]='codes'>
							<li *ngFor="let snippet of codes; let i = index"
							    class="list-group-item">
								{{snippet.name}}
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Generated Code Container -->
			<div class="col-lg-6 col-md-6">
				<p>function sum(number1, number2)</p>
				<p>{</p>
				<p class="realCode" *ngFor="let snippet of codes; let i = index">{{snippet.code}}</p>
				<p>}</p>
			</div>
		</div>

		<button id="runButton" type="button" class="btn btn-success">Run</button>
	</div>
</div>
<!-- /#page-content-wrapper -->